@import url("https://api.fontshare.com/v2/css?f[]=satoshi@300,301,400,401,500,501,700,701,900,901,1,2&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Satoshi", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    @media only screen and (max-width: 1240px) {
        margin-left: 20px;
        margin-right: 20px;
    }
}

h2 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    max-width: none;
    width: calc(100% + 10px);

    .col-100 {
        flex: 0 0 auto;
        margin-left: 15px;
        margin-right: 15px;
        width: calc(100% - 30px);

        @media only screen and (max-width: 650px) {
            width: calc(100% - 20px);
            margin-left: 0;
            margin-right: 0;
        }
    }

    .col-75 {
        flex: 0 0 auto;
        margin-left: 15px;
        margin-right: 15px;
        width: calc(75% - 30px);

        @media only screen and (max-width: 800px) {
            width: calc(100% - 20px);
            margin-left: 0;
            margin-right: 0;
        }
    }

    .col-25 {
        flex: 0 0 auto;
        margin-left: 15px;
        margin-right: 15px;
        width: calc(25% - 30px);

        @media only screen and (max-width: 800px) {
            width: calc(100% - 20px);
            margin-left: 0;
            margin-right: 0;
        }
    }

    .col-50 {
        flex: 0 0 auto;
        margin-left: 15px;
        margin-right: 15px;
        width: calc(50% - 30px);

        @media only screen and (max-width: 650px) {
            width: calc(100% - 20px);
            margin-left: 0;
            margin-right: 0;
        }
    }

    @media only screen and (max-width: 650px) {
        display: block;
        width: calc(100% + 20px);
        margin-left: 0;
        margin-right: 0;
    }
}

input,
textarea {
    border: 1px solid #d8d8d8;
    padding: 10px 15px;
    margin-bottom: 16px;
    outline: none;

    &:focus {
        border: 1px solid #ffb727;
        transition: .3s;
    }
}

textarea {
    resize: none;
}